<div class="ui-g-12">
    <img [alt]="thirdPartyApp.name" height="128" width="128" [src]="thirdPartyApp.iconPath">
</div>
<div class="ui-g-12">
    <button pButton type="button" *ngIf="isConnectedToApp(); else connectButton" class="ui-button-danger" [label]="'disconnect-from-app' | translate" (click)="disconnect()"></button>
    <ng-template #connectButton>
        <button pButton type="button" [label]="'connect-to-app' | translate" (click)="connect()"></button>
    </ng-template>
</div>