<!--TODO make seperate fitbit and strava dashboard components-->
<div class="ui-g">
    <div class="ui-g-12">
        <div *ngIf="stravaAthlete; else noStravaData" class="ui-g">
            <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-xl-1">
                <div class="ui-g-12">
                    <img height="106" width="106" [src]="stravaAthlete.profile">
                </div>
                <div class="ui-g-12">
                    <span>{{stravaAthlete.firstname}} {{stravaAthlete.lastname}}</span>
                </div>
            </div>
            <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-xl-11">
                {{'activities' | translate}}
                <p-table [value]="stravaActivities" [paginator]="true" [rows]="5">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{'name' | translate}}</th>
                            <th>{{'type' | translate}}</th>
                            <th>{{'start_date' | translate}}</th>
                            <th>{{'elapsed_time' | translate}}</th>
                            <th>{{'distance' | translate}}</th>
                            <th>{{'average_speed' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-activity>
                        <tr>
                            <td>{{activity.name}}</td>
                            <td>{{activity.type}}</td>
                            <td>{{activity.start_date_local | date:'medium'}}</td>
                            <td>{{activity.elapsed_time}}</td>
                            <td>{{activity.distance}}</td>
                            <td>{{activity.average_speed}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <ng-template #noStravaData>
            <span id="no-strava-data">{{'no-data-connect-to-app.strava' | translate}}</span>
        </ng-template>
    </div>
    <div class="ui-g-12">
        <div *ngIf="fitbitProfile; else noFitbitData" class="ui-g">
            <div class="ui-g-3 ui-sm-12">
                <div class="ui-g-4 box green">
                    <i class="pi pi-clock icon"></i>
                    <span class="value">{{'age' | translate}}: {{fitbitProfile.age}}</span>
                </div>
                <div class="ui-g-4 box blue">
                    <i class="pi pi-user-plus icon"></i>
                    <span class="value">{{'weight' | translate}}: {{fitbitProfile.weight}}</span>
                </div>
                <div class="ui-g-4 box orange">
                    <i class="pi pi-arrow-up icon"></i>
                    <span class="value">{{'height' | translate}}: {{fitbitProfile.height}}</span>
                </div>
            </div>
            <div class="ui-g-9 ui-sm-12">
                <p-chart type="line" [data]="weightBodyFatChart" height="50vh"></p-chart>
            </div>
        </div>
        <ng-template #noFitbitData>
            <span id="no-fitbit-data">{{'no-data-connect-to-app.fitbit' | translate}}</span>
        </ng-template>
    </div>
</div>