.green {
    background-color: green;
}

.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}

.box {
    color: white;
    margin: 10px;
    height: 100px;
    width: 100px;
}

.icon {
    font-size: 4.5em
}

.value {
    float: right;
    font-size: 1.5;
}